@page "/event/{*EventName}"
@page "/event"
@inject HttpClient Http
@using System.Net.Http;
@using System.Web;
@using Models;

<PageTitle>About</PageTitle>

<PageHeader />

<!-- POSSIBLY BREAK INTO SEPARATE TEXT SECTION COMPONENT-->


<MoreInfoBlock Title="This is more information about things." Description="This is the
long winded description so you never think we aren't giving you all we know.  We are transparent and if you
want even more, click the link below.  This is the way." ButtonText="Learn More..."></MoreInfoBlock>

<section class="basic-text-section">
    <div class="container-lg px-0 text-center">
        <div class="row">
            <div class="col py-4 px-0 d-flex justify-content-center align-content-center">
                <div class="twothirds">
                    @if (thisEvent != null)
                    {
                        <h2>@thisEvent.data.Name</h2>
                        <p>@thisEvent.data.Description</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--END POSSIBLE BREAKWAY COMPONET-->
<section class="basic-text-section" style="background: grey">
    <div class="container-lg px-0 text-center">
        <div class="row">
            <div class="col py-4 px-0 d-flex justify-content-center align-content-center">
                <div class="twothirds">
                    <h2>A New Section For Info</h2>
                    <p>
                        For God so loved the world that he gave his only begotten, that whoever believes in Him shall not perish but have eternal life. 
                        For God did not send his Son into the world to condemn the world, but to save the world through Him.
                    </p>
                </div>
            </div>
        </div>
    </div>
 </section>



@code {
    [Parameter]
    public string? EventName { get; set; }
    public AEvent thisEvent;

    public EventList allEvents = null;
    protected override async Task OnInitializedAsync() {
        string directusURL = "http://3.94.182.4:8055";
        string url = directusURL + "/Items/Event";
        string thisEventURL = directusURL + "/Items/Event/" + EventName;
        HttpClient http = new HttpClient();
        Console.WriteLine(await Http.GetStringAsync(thisEventURL));
        allEvents = await Http.GetFromJsonAsync<EventList>(url);
        
            thisEvent = await Http.GetFromJsonAsync<AEvent>(thisEventURL);
            Console.WriteLine(thisEvent.data.Name);
    }
    
    public class EventList {
        public List<AEvent> data { get; set; }
    }
}
