@page "/leaders"

<PageTitle>Leaders</PageTitle>

<PageHeader PageName="Leadership" />

<div class = "container-lg px-0">
    <div class="row">
        <div class="col-md">
            <Personnel FirstName="Rod" LastName="Wilkening" Position="Senior Pastor" />
        </div>
        <div class="col-md">
            <Personnel FirstName="Steve" LastName="Lyon" Position="Associate Pastor" />
        </div>
    </div>
</div>
@code {
    //Get Leaders from CMS then loop through adding Personnel razor elements for each
   
}
