@page "/leaders"

<PageTitle>Leaders</PageTitle>

<PageHeader PageName="Leadership" />

<div class = "container-lg px-0">
    <div class="row">
        <div class="quote-preface px-4 py-2 py-md-4">
            <h5 class="my-3">So I exhort the elders among you: Shepherd the flock of God that is among you, exercising oversight, not under compulsion, but willingly, 
                as God would have you; not for shameful gain, but eagerly; not domineering over those in your charge, but being examples to the flock.  
                And when the chief Shepherd appears, you will receive the unfading crown of glory."</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <Personnel FirstName="Rod" LastName="Wilkening" Position="Senior Pastor" />
        </div>
        <div class="col-md-4">
            <Personnel FirstName="Steve" LastName="Lyon" Position="Associate Pastor" />
        </div>
    </div>
</div>
@code {
    //Get Leaders from CMS then loop through adding Personnel razor elements for each
   
}
