@page "/missions"
@using System.Net.Http;
@using System.Collections.Generic;
@using HilltopBlazorWASM.Models;
@inject HttpClient Http
<PageTitle>Missions</PageTitle>
<PageHeader PageName="Missions"></PageHeader>

<section class="section2">
    @if (allMissions != null)
    {
        @foreach (var mission in allMissions.data)
        {
            <MissionCard ChurchMinistry="@mission"/>
        }

    }
</section>



@code {
     private MissionList allMissions = null;
  //  private ChurchMissions? allMissions;
    public string directusURL;

    protected override async Task OnInitializedAsync() {
        directusURL = "http://localhost:8055";
        string url = directusURL + "/Items/Missions";
        Console.WriteLine(await Http.GetStringAsync(url));
        allMissions = await Http.GetFromJsonAsync<MissionList>(url);
       // allMissions = await Http.GetFromJsonAsync<AChurchMinistry>(url);
    }
    public class MissionList {
        public List<AChurchMinistry> data { get; set; }
    }

}
