@inject NavigationManager UriHelper

<section class="event-block py-4">
    <div class = "container-md px-0">
        <div class="promo-box-card py-1 px-2 row">
            <div class="col py-2 px-4 d-flex flex-column flex-md-row">
                <h4>@Title</h4>
            </div>
            <div class="col-md py-md-2 px-4 d-flex flex-column">
                <p>@Description</p>
                
            </div>
            <div class="col-md py-md-2 px-4 d-flex flex-column">
                <button class="btn btn-white text-uppercase border border-2 border-primary my-1 mx-auto" @onclick=@Navigate>@ButtonLink</button>
            </div>
        </div>
    </div>
</section>

@code{
    [Parameter]
    public string Title{ get; set; }
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public string ContactName { get; set; }
    [Parameter]
    public string ButtonLink{ get; set; }

    void Navigate() {
        UriHelper.NavigateTo(ButtonLink);
    }
    protected override async Task OnInitializedAsync() {
        
    }
}