@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>        
        <div class="main-content">
            
            <article class="main-content-wrapper">
                @Body
            </article>
        
        </div>
    </main>
</div>
