<section class="page-header d-flex" style="background-image: url('@imgPath')">
    <div class="bg-haze d-flex flex-fill flex-column justify-content-center">
        <div class="z1 text-center">
            <div class="p-4">
                <h1 class="white-header">Welcome To Hilltop</h1>
            </div>
        </div>
    </div>
</section>

@code {
    private string imgPath = "http://hilltop.eternalharvestfarm.com/wp-content/uploads/2021/03/church-15.jpg";
    
}
