<section class="page-header d-flex" style="background-image: url('@imgPath')">
    <div class="bg-haze d-flex flex-fill flex-column justify-content-center">
        <div class="z1 text-center">
            <div class="p-4">
                <h1 class="white-header">
                    @if(PageName != null) {
                        @PageName
                    }else{ @defaultHeaderText }

                </h1>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public string PageName{ get; set; }
    public string defaultHeaderText = "Hilltop Assembly";
    private string imgPath = "/Images/Hilltop_Logo_logo.jpg";
    
}
